{% extends "pages/dashboard.html" %}
{% load static %}

{% block dashboard_content %}

<h1>Respaldo de Base de Datos</h1>


<a href="{% url 'modelNewApp:db_download' %}" class="btn btn-primary mb-4">
    <i class="bi bi-download"></i> Descargar Respaldo Actual
</a>

<form method="post" action="{% url 'modelNewApp:db_restore' %}" enctype="multipart/form-data" class="card p-3">
    {% csrf_token %}
    <label class="labelTitle mb-2">Restaurar desde archivo externo</label>
    <input type="file" name="db_file" accept=".sqlite3" class="form-control mb-3" required>
    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro? Esto sobrescribirá todos los datos actuales.')">
        Subir y Restaurar Base
    </button>
</form>

{% endblock %}