{% extends "base.html" %}
{% load static %}

{% block navbar %}
{% include "components/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 176px);">
    <form method="post">
        {% csrf_token %}

        <h4 class="text-center mb-4">Seleccione tipo de ingreso/salida</h4>

        {% if mensaje_error %}
        <div class="alert alert-danger mt-2 alert-auto-close">{{ mensaje_error }}</div>
        {% elif mensaje %}
        <div class="alert alert-info mt-2 alert-auto-close">{{ mensaje }}</div>
        {% endif %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger mt-3 alert-auto-close">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="d-flex justify-content-center gap-4">
            <button name="tipo_ingreso" value="PIE" class="btn btn-primary ingreso-salida-control">
                A pié
            </button>

            <button name="tipo_ingreso" value="VEHICULO" class="btn btn-secondary ingreso-salida-control">
                En vehículo
            </button>
        </div>
    </form>
</div>
{% endblock content %}


{% block footer %}
{% include "components/footer.html" %}
{% endblock footer %}
